@use '../custom' as *;
@use '../base/mixins' as m;
@use '../base/animaciones' as *;

.header {
    @include m.background-image('../img/header.jpg');
    position: relative;

    .header-guitarra {
        display: none;

        @include media-breakpoint-up(lg) {
            display: block;
            position: absolute;
            right: 0;
            bottom: 0;

            animation-duration: 1s;
            animation-delay: 0s;
            animation-timing-function: ease;
            animation-name: animarImagen;
        }
    }

}

.navegacion {
    position: relative;
    z-index: 1;

    a {
        transition: ease-in-out 0.4s;

        &:hover {
            background-color: $primary;
        }

        &:not(:hover) {
            transition-duration: 0.3s;
        }
    }
}